<!DOCTYPE html>
<html lang = "it" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title th:text="#{passwordChange.formTitle}"></title>
    <!--<link rel="stylesheet" th:href="@{/t23/css/password_change.css}"/>-->
    <link rel="stylesheet" th:href="@{/t23/css/login_new.css}"/>
    <link rel="stylesheet" th:href="@{/t23/css/password_reset_new.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div th:insert="layouts/header_2 :: header"></div>
    <div class="container">
      <div class="left-container" style="width:400px;">
        <h2 style="font-size: 35px;" th:text="#{passwordChange.title}"></h2>
        <p th:text="#{passwordChange.text}"></p>
        <div class="side-image">
          <img th:src="@{t23/css/images/adm_login.png}" alt="Login Image">
        </div>
      </div>
        <div class="login-box">
        <h1 th:text="#{passwordChange.formTitle}">Modifica la password</h1>
        <p th:text="#{passwordChange.formInstruction}">Inserisci il token che hai ricevuto per e-mail ed inserisci una nuova password.</p>

        <form id="passwordChangeUser_form">
          <div id="email_label_container">
            <label for="email">Email:</label>
          </div>
          <input type="email" id="email" name="email" required th:placeholder="#{email.placeholder}">

          <div id="passwordResetToken_label_container">
            <label class="form-label" for="passwordResetToken" th:text="#{passwordChange_token}">Token ricevuto</label>
          </div>
          <input type="text" id="passwordResetToken" name="passwordResetToken" required th:placeholder="#{token.placeholder}">


          <div id="password_label_container">
            <label class="form-label" for="password" th:text="#{passwordChange_password}"></label>
          </div>
          <input type="password" id="password" name="password" required th:placeholder="#{newPassword.placeholder}">

          <div id="passwordCheck_label_container">
            <label class="form-label" for="passwordCheck" th:text="#{confirmPassword.placeholder}"></label>
          </div>
          <input type="password" id="passwordCheck" name="passwordCheck" required th:placeholder="#{confirmPassword.placeholder}">

          <input type="submit" th:value="#{form.submit}" class="submit-button">
        </form>
      </div>
    </div>
    <div th:insert="layouts/footer :: footer"></div>

    <script type="module" th:src="@{/t23/js/change_password_user.js}"></script>
    <script th:inline="javascript">
        const errors = {
            resetToken: /*[[#{field.user.resetToken.empty}]]*/ "Il cognome non può essere vuoto",
            emailEmpty: /*[[#{field.user.email.empty}]]*/ "La mail non può essere vuota",
            passwordEmpty: /*[[#{field.user.password.empty}]]*/ "La password non può essere vuota",
            passwordNotEquals: /*[[#{field.user.password.notequals}]]*/ "Le password inserite non corrispondono",
            notHandled: /*[[#{error.nothandled}]]*/ "Si è verificato un errore, riprova più tardi"
        };
    </script>
  </body>
</html>
