<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Registration Success</title>
  <link rel="stylesheet" th:href="@{/t23/css/login_new.css}"/>
</head>
<body>
<div th:insert="layouts/header-1 :: header"></div>
<div class="container">
  <div class="left-container" style="width: initial;">
    <h2 style="font-size: 35px;" th:text="#{success.title}">La registrazione è avvenuta con successo!!</h2>
    <p th:text="#{success.text}">Verrai reindirizzato alla pagina di login</p>
    <div class="side-image">
      <img alt="Login Image" style="width: 250px;" th:src="@{/t23/css/images/login_success.png}">
    </div>
  </div>
</div>
<div th:insert="layouts/footer :: footer"></div>

<script th:src="@{/t23/js/registration_success.js}"></script>

</body>
</html>